<form action="/tables/new" method="post">
  Table Number: <br> <input type="text" name="table[number]"><br><br>
  Number of Seats: <br> <input type="text" name="table[seats]"><br><br>
  <input type="submit">

</form>
