<h1>Add New Menu Item</h1>
<form action="/meals" method="post">
  Name: <br> <input type="text" name="meal[name]"><br>
  <br>
  Cuisine Type: <br> <input type="text" name="meal[cuisine_type]"><br>
  <br>
  Price: <br> <input type="text" name="meal[price]"><br>
  <br>
  Allergens:  <br> <input type="text" name="meal[allergens]">*if any<br>
  <br>
  <input type="Submit">

</form>
