<h1>Add New Menu Item</h1>
<form action="/meals" method="post">
  Name: <input type="text" name="meal[name]"><br>
  <br>
  Cuisine Type: <input type="text" name="meal[cuisine_type]"><br>
  <br>
  Price: <input type="text" name="meal[price]"><br>
  <br>
  <input type="Submit">

</form>
