<h1>Edit Party at Table <%= @party.t_number %></h1>
<form action="/parties" method="post">
  Table Number: <input type="text" name="party[t_number]"><br>
  <br>
  Number of Guests: <input type="text" name="party[guests]"><br>
  <input type="hidden" name="party[paid]" value="false"><br>
  <input type="hidden" name="_method" value="patch"><br>
  <br>
  <input type="Submit">
</form>
