<h2>Current Parties: </h2>

<% @parties.each do |party|%>
  <% if party.paid %>
  <% else %>
  <ul>
    <li>
      <% if party.server_id == @server_id %>
      <a href="/parties/<%= party.id %>">Table Number: <%= party.teble.number %> *</a>
      <% else  %>
      <a href="/parties/<%= party.id %>">Table Number: <%= party.teble.number %></a>
      <% end %>
    </li>
  </ul>
  <% end %>
<% end %>
<br>
<br>
<h2><a href="/parties/new">Add New Party</a></h2>
