<h2>Create New Server</h2>
<form action="/server/new" method="post">
  Name: <br>
  <input type="text" name="server[name]"><br><br>
  Password: <br>
  <input type="password" name="server[password]"><br><br>
  Password: <br>
  <input type="password" name="server[password2]"><br><br>
  <input type="submit">
</form>
